[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
matplotlib = "*"
scikit-learn = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python ./app/app.py"
test = "python ./test/test.py"
